@charset "UTF-8";

body {
  margin: 30px;
}

.box {
    background-color: #157bad;
    height: 300px;
    width: 300px;

    transition-property: background-color;
    transition-duration: 2s;
}

.box:hover {
    background-color: #ec5840;
    border-radius: 50%;
}

